* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background-color: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #222);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
  min-height: 100vh;
}

.button {
  display: block;
  width: 100%;
  font-size: .75rem;
  padding: 6px;
  border: none;
  border-radius: 10px;
  font-family: Yekan;
  background-color: var(--tg-theme-button-color, #50a8eb);
  color: var(--tg-theme-button-text-color, #ffffff);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.unselected {
  background-color: var(--tg-theme-bg-color, #252525);
  color: var(--tg-theme-button-color, #57ca94);
  border: 1px solid var(--tg-theme-button-color, #57ca94);
}

.button.selected {
  background-color: var(--tg-theme-button-color, #57ca94);
  color: var(--tg-theme-button-text-color, #ffffff);
  border: 1px solid var(--tg-theme-button-color, #57ca94);
}