/* *:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
} */

.app {
  background-color: var(--tg-color-scheme);
}

button {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--tg-theme-button-color, #50a8eb);
  color: var(--tg-theme-button-text-color, #ffffff);
  cursor: pointer;
}